.header-main{
    background-image: linear-gradient(90deg, #C29C79, #a78463 , #8d6b4c);
    padding:10px;
}

.logo a{
    padding:10px;
    color:white;
}

div.header-content{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-nav{
    padding:10px;
}

#user-menu{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type:none;
}

#user-menu li{
    margin-right:10px;
}

#user-menu li a{
     color: white;
}

.user-info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo img{
    width:50px;
    cursor: pointer;
}