body{
   background-image: URL('/public/img/background_login.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

h1#title{
    margin-top: 50px;
    color:#f3eeea;
    text-shadow: 1px 2px 2px rgba(54, 17, 2, 0.422);
    text-align: center;
    margin-bottom: 60px;
    font-size:4.5em;
    font-family: 'WaterFall';
}

main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    width:100%;
    height:100%;
}

form{
    background-color: whitesmoke;
    padding:10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.241);
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    width:380px;
    height:100vh;
    background-image:URL('/public/img/textura_carta_fundo.jpg');
}

form input{
    border-radius: 5px;
    border:1px solid rgb(63, 63, 63);
    height:25px;
    width:220px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.235);
    padding:3px;
}

form input:hover{
    outline:2px solid black;
}

a#esq_senha{
    font-size: 0.8em;
    text-decoration: none;
    color:rgb(45, 23, 2);
    transition: 0.2s;
}

a#esq_senha:hover{
    text-decoration: underline;
}

#container_buttons{
    margin-top: 30px;
    text-align: center;
}

#container_buttons #btn_login{
    margin-right: 10px;
    width:120px;
    height:35px;
    border-radius: 5px;
    border:0px solid transparent;
    background-image: linear-gradient(120deg,rgb(148, 131, 119),rgb(136, 84, 50),rgb(108, 50, 11),rgb(53, 22, 1));
    color:white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.228);
    cursor: pointer;
    font-size: 1em;
    transition: 0.2s;
}

#container_buttons #btn_login:hover{
    width:123px;
    height:38px;
    font-size: 1.3em;
}

#btn-cadastro{
    text-decoration: none;
    font-size: 1em;
    color:rgb(48, 26, 11);
    transition: 0.2s;
}

#btn-cadastro:hover{
    text-decoration: underline;
    font-size: 1.2em;
}
