body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  height: 1vh;
  overflow-y: hidden;
}

h1#title{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size:3em;
    font-family: 'WaterFall';
}

main{
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 100px;
}

.lateral{
    background-image: URL('/public/img/bacground-login.png');
    background-repeat: no-repeat;
    height: 640px;
    width: 600px;
    
}

.txt-intro{
    margin-top: 200px;
    color:#f3eeea;
    font-family: 'WaterFall';
}
.txt-intro h1 {
    font-size: 40pt;
}
.txt-intro p {
    font-size: 20pt;
}
.txt-intro button{
    margin-top: 20px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #B59410;
    border-radius: 30px;
}

.txt-intro button a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width:500px;
    height:600px;
}

#container_inputs{
    margin-top: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container_inputs div > input {
   border: none;
   border-bottom: 1px solid black;
   width: 300px;
   margin-bottom: 30px;
   outline: none;
}

#container_inputs div > input :active {
    outline: none;
}

a#esq_senha{
    font-size: 0.8em;
    text-decoration: none;
    color:rgb(45, 23, 2);
    transition: 0.2s;
    margin-top: -50px;
}

a#esq_senha:hover{
    text-decoration: underline;
}

#btn_login {
    margin-top: 20px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #654321;
    border-radius: 30px;
    color: white;
}