.profile-photo-area img {
            width: 150px; /* Reduz o tamanho da imagem */
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        }
        .external-actions {
            align-items: center;
            margin-left: 20px;
        }
        .btn-follow {
            background-color: #DBDBDB; /* Cor neutra para Seguir/Deixar de Seguir */
            color: #333;
            border: 1px solid #ccc;
            padding: 8px 15px;
            border-radius: 4px;
            cursor: pointer;
            font-weight: 600;
        }
        .btn-chat {
            background-color: #adc72e; /* Verde mais tradicional ou outra cor */
            background-color: #4f300f; /* Azul Instagram, contraste melhor que o verde anterior */
            color: white;
            border: none;
            padding: 8px 15px;
            border-radius: 4px;
            text-decoration: none;
            font-weight: 600;
        }
        .stats-area {
            display: flex;
            gap: 20px;
            margin-top: 10px;
        }
        .stat-item strong {
            font-weight: bold;
        }