body{
    background-image: URL('/public/img/backgroundQperigo_cadastro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1#title{
    margin-top: 50px;
    color:#f3eeea;
    text-shadow: 1px 2px 2px rgba(54, 17, 2, 0.422);
    text-align: center;
    margin-bottom: 50px;
    font-size:4em;
    font-family: 'WaterFall';
}

main{
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    height:100%;
}

form{
    margin: 200px auto;
    width:400px;
    background-color: rgb(222, 214, 203);
    padding:10px;
    border-radius:5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.241);
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    background-image:URL('/public/img/textura_carta_fundo.jpg');
}

form input{
    border-radius: 5px;
    border:1px solid rgb(63, 63, 63);
    height:25px;
    width:220px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.235);
    padding:3px;
}

form input:hover{
    outline:2px solid black;
}

#container_buttons{
    margin-top: 30px;
    text-align: center;
}

#container_buttons #btn_cadastro{
    margin-right: 10px;
    width:120px;
    height:35px;
    border-radius: 5px;
    border:0px solid transparent;
    background-image: linear-gradient(120deg,rgb(148, 131, 119),rgb(136, 84, 50),rgb(108, 50, 11),rgb(53, 22, 1));
    color:white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.228);
    cursor: pointer;
    font-size: 1em;
    transition: 0.2s;
}

#container_buttons #btn_cadastro:hover{
    width:123px;
    height:38px;
    font-size: 1.3em;
}

#container_buttons #btn_cadastro:active{
    background-image: linear-gradient(120deg,rgb(105, 87, 74),rgb(82, 47, 24),rrgb(60, 26, 4)rgb(28, 12, 2));
}

#btn_conta{
    text-decoration: none;
    font-size: 1.2em;
    color:rgb(48, 26, 11);
}

#btn_conta:hover{
    text-decoration: underline;
}