body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  height: 1vh;
  overflow-y: hidden;
}

h1#title{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size:3em;
    font-family: 'WaterFall';
}

main{
    display:flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 100px;
}

.lateral{
    background-image: URL('/public/img/bacground-login.png');
    height: 640px;
    width: 680px;
    margin-right: -10px;
}
.txt-intro{
    margin-top: 200px;
    color:#f3eeea;
    font-family: 'WaterFall';
}
.txt-intro h1 {
    font-size: 40pt;
}
.txt-intro p {
    font-size: 20pt;
    width: 400px;
    text-align: justify;
    margin: auto;
    line-height: 1.5em;
}
.txt-intro button{
    margin-top: 20px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #B59410;
    border-radius: 30px;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 10pt;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width:500px;
    height:600px;
}

form input{
    border: none;
   border-bottom: 1px solid black;
   width: 300px;
   margin-bottom: 30px;
   outline: none
}

form > input:active {
    outline: none;
}

#container_buttons{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

#container_buttons #btn_cadastro{
    margin-top: 20px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: #654321;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: 0.2s;
}

#container_buttons #btn_cadastro:hover{
    width:123px;
    height:38px;
    font-size: 1.3em;
}

#container_buttons #btn_cadastro:active{
    background-image: linear-gradient(120deg,rgb(105, 87, 74),rgb(82, 47, 24),rrgb(60, 26, 4)rgb(28, 12, 2));
}

#btn_conta{
    text-decoration: none;
    font-size: 1.2em;
    color:rgb(48, 26, 11);
}

#btn_conta:hover{
    text-decoration: underline;
}