<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/footer.css">
</head>
<body>
    <footer>
        <p>&copy; 2025 Entre linhas | Comunicação diferenciada à moda antiga na web</p>
    </footer>
</body>
</html>