<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de usuário</title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Waterfall&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/favicons_rede-social.png" type="image/x-icon">
</head>

<body>
    <main>

        <div class="lateral">
            <div class="txt-intro">
                <h1>Bem-vindo(a) de volta</h1>
                <p>Não tem conta conosco?</p>
                <button><a href="/register"><strong>Cadastre-se</strong></a></button>
            </div>
        </div>


        <form id="login" action="/login" method="POST">
            <div id="logo_container">
                <picture>
                    <img src="/public/img/entrelinhas-logo.png" alt="" wqidth="150px" height="150px">
                </picture>
            </div>
            <h1 id="title">Login</h1>
            <div id="container_inputs">
                <div>
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="email" id="email" name="email" placeholder="Inserir E-mail"><br><br>
                </div>

                <div>
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" id="password" name="password" placeholder="Inserir Senha"><br><br>
                </div>
                <div>
                    <a id="esq_senha" href="#">Esqueci a minha senha</a>
                </div>
            </div>

            <div id="container_button">
                <button id="btn_login" type="submit">Entrar</button>
            </div>
        </form>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>