<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usuário</title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Waterfall&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/favicons_rede-social.png" type="image/x-icon">
</head>

<body>
    <main>
        <% if (typeof error !=='undefined' && error) { %>
            <p style="color: red; font-weight: bold;">
                <%= error %>
            </p>
            <% } %>

                <form action="/register" method="POST">
                    <h1 id="title">Cadastro - Novo usuário</h1>
                    <div>
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <input type="text" id="username" name="username" placeholder="Inserir nome" required>
                    </div>

                    <div>
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="email" name="email" placeholder="Inserir email" required>
                    </div>

                    <div>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="password" name="password" placeholder="Criar senha" required>
                    </div>

                    <div>
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar senha"required>
                    </div>

                    <div id="container_buttons">
                        <a href="/login" id="btn_conta" class="btn-redirect">Já tenho conta</a>
                        <button id="btn_cadastro" type="submit">Cadastrar</button>
                    </div>
                </form>

                
        <div class="lateral">
            <div class="txt-intro">
                <h1>Between lines</h1>
                <p>Bem-vindo(a) ao Between lines, um lugar onde você desfurtar da nostalgia de enviar cartas para alguém distante.</p>
                <p>Tem conta conosco?</p>
                <button><a href="/login"><strong>Faça login</strong></a></button>
            </div>
        </div>

    </main>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>