<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usu치rio</title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Waterfall&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/favicons_rede-social.png" type="image/x-icon">
</head>

<body>
    <main>
        <% if (typeof error !=='undefined' && error) { %>
            <p style="color: red; font-weight: bold;">
                <%= error %>
            </p>
            <% } %>

                <form action="/register" method="POST">
                    <h1 id="title">Cadastro - Novo usu치rio</h1>
                    <label for="username"><strong>Nome de Usu치rio:</strong></label>
                    <input type="text" id="username" name="username" placeholder="Inserir nome" required><br><br>

                    <label for="email"><strong>E-mail:</strong></label>
                    <input type="email" id="email" name="email" placeholder="Inserir email" required><br><br>

                    <label for="password"><strong>Senha:</strong></label>
                    <input type="password" id="password" name="password" placeholder="Criar senha" required><br><br>

                    <label for="confirm_password"><strong>Confirmar Senha:</strong></label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirmar senha"
                        required><br><br>

                    <div id="container_buttons">
                        <button id="btn_cadastro" type="submit">Cadastrar</button>
                        <a href="/login" id="btn_conta" class="btn-redirect">J치 tenho conta</a>
                    </div>
                </form>
    </main>
</body>

</html>